<header class="cd-header">
  <div id="cd-logo"><a href="#0"><img src="../../assets/cd-logo.svg" alt="Logo"></a></div>
  <nav class="cd-primary-nav">
    <ul>
      <li><a href="#">Resume</a></li>
      <li><a href="https://github.com/DanielGriffiths1182">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/336528131/">LinkedIn</a></li>
    </ul>
  </nav>
</header>
<section id="cd-intro">
  <div id="cd-intro-tagline">
    <h1>In Progress as of 02/17/18</h1>
    <a routerLink="./biography" class="cd-btn">Explore</a>
  </div>
  <div class="cd-secondary-nav">
    <a href="#0" class="cd-secondary-nav-trigger">The Things<span></span></a>
    <nav>
      <ul>
        <li>
          <a routerLink="./skills">
            <b>Toolbox</b>
            <span></span>
          </a>
        </li>
        <li>
          <a routerLink="./biography">
            <b>Who Am I?</b>
            <span></span>
          </a>
        </li>
        <li>
          <a routerLink="./repository">
            <b>Daniel's Works</b>
            <span></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
