<footer class="footer-distributed">
  <div class="footer-left">
    <h3>D.<span>Griffiths</span></h3>
    <p class="footer-links">
      <a routerLink="/biography">Home</a>
      ·
      <a routerLink="/contact">Faq</a>
    </p>
    <p class="footer-company-name">Daniel Griffiths &copy; 2018</p>
  </div>
  <div class="footer-right">
    <form action="mailto:dgriffiths.coding@gmail.com" method="post">
      <input type="text" name="email" placeholder="Email" />
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>
    </form>
  </div>
</footer>
