/* HeroDetailComponent's private CSS styles */
.container {
  position: relative;
  margin-top: 120px auto;
  width: 100%;

  h2 {
    line-height: 34px;
    font-family: Helvetica;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 8px;
  }

  p {
    width: 70%;
    margin: 100px auto 100px;
    font-family: Helvetica;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 20px;
  }

  div {
    font-family: Helvetica;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    font-size: 20px;

    span {
      font-family: Helvetica;
      font-style: normal;
      font-variant: small-caps;
      font-weight: 100;
      font-size: 20px;
    }
  }

  .back-button {
    border-top: solid black 1px;
    border-bottom: solid #860202 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    padding: 22px 43px 22px;
    opacity: .8;
    cursor: pointer;
    margin: 0 40% 70px 40%;
    font-variant: small-caps;
    outline: none;
    font-weight: 100;
    font-size: 20px;
  }

  .back-button:hover {
    border-left: solid black 1px;
    border-right: solid #860202 1px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
  }
}
