<div class="wrap">
  <h1>Who is Daniel Griffiths?</h1>
  <div class="section-one">
    <p class="text-one">I'm a full-stack web developer with a growing passion for front end archeticture and design. Clean lines, bright but comfortable colors, and space are driving the creative impulse of this portfolio piece.</p>
  </div>
  <div class="section-two">
    <p class="text-two">Previously a conservatory trained classical pianist, currently practicing in anticipation of recording a short program of Chopin, channeling that creative and intellectual experience into the trade of code and development is my primary focus.</p>
  </div>
  <div class="section-three">
    <p class="text-three">Cognitive exploration is always a paramount component of any activity with which I engage, and I hope you enjoy playing with the moving parts of this platform!</p>
  </div>
</div>
