.wrap {
  height: 1200px;

    h1 {
      font-family: Helvetica;
      font-style: normal;
      font-variant: small-caps;
      font-weight: 100;
      line-height: 2em;
      text-align: center;
      color: #8a5455;
      letter-spacing: 10px;
      font-size: 43px;
    }

    .section-one {
      width: 100%;
      float: left;
      .text-one {
        width: 52%;
        font-family: Helvetica;
        font-style: normal;
        font-variant: small-caps;
        font-weight: 100;
        margin-top: 150px;
        margin-left: 100px;
        float: left;
        font-size: 24px;
        padding: 100px 0 100px 0;
        border-top: solid #ad1a1a8f 1px;
        border-bottom: solid black 1px;
        border-left: solid white 1px;
        border-right: solid white 1px;
      }

      .text-one:hover {
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        border-left: solid #ad1a1a8f 1px;
        border-right: solid black 1px;
      }
    }

    .section-two {
      width: 100%;
      float: right;
      .text-two {
        width: 52%;
        font-family: Helvetica;
        font-style: normal;
        font-variant: small-caps;
        font-weight: 100;
        margin-right: 100px;
        margin-top: 150px;
        float: right;
        font-size: 24px;
        padding: 100px 0 100px 0;
        border-top: solid #ad1a1a8f 1px;
        border-bottom: solid black 1px;
        border-left: solid white 1px;
        border-right: solid white 1px;
      }

      .text-two:hover {
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        border-left: solid #ad1a1a8f 1px;
        border-right: solid black 1px;
      }
    }

    .section-three {
      width: 100%;
      float: left;
      .text-three {
        width: 52%;
        font-family: Helvetica;
        font-style: normal;
        font-variant: small-caps;
        font-weight: 100;
        margin-left: 100px;
        margin-bottom: 200px;
        margin-top: 150px;
        float: left;
        font-size: 24px;
        padding: 100px 0 100px 0;
        border-top: solid #ad1a1a8f 1px;
        border-bottom: solid black 1px;
        border-left: solid white 1px;
        border-right: solid white 1px;
      }

      .text-three:hover {
        border-top: solid white 1px;
        border-bottom: solid white 1px;
        border-left: solid #ad1a1a8f 1px;
        border-right: solid black 1px;
      }
    }

}
