<!-- <div class="grid grid-pad">
  <a *ngFor="let skill of skills" class="col-1-4" routerLink="/detail/{{skill.id}}">
    <div class="module skill" ng-mouseover="style={color:'blue','background-color':'gray','font-size':'20px', 'cursor':'pointer'}" ng-mouseleave="style={'background-color':'white'}" ng-style="style">
      <h4>{{skill.skillName}}</h4>
    </div>
  </a>
</div> -->


<div class="grid grid-pad">
  <a *ngFor="let skill of skills" class="col-1-4" routerLink="/detail/{{skill.id}}">
    <div class="module skill">
      <h4>{{skill.skillName}}</h4>
    </div>
  </a>
</div>
